[difftool]
  external = ~/script/git_diff_cmd.sh
[url "https://"]
  # corporate firewalls no like git
  insteadOf = git://
[github]
  user = dcarney
[alias]
  unstage = reset HEAD
  # pretty history
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  go = checkout
  undopush = push -f origin HEAD^:master
  s = status
  ss = status -s --untracked-files=no # short status
  d = diff
  dc = diff --cached
  dt = difftool
  a = add
  r = checkout --
  pom = pull origin master
  pr = pull --rebase
  prom = pull --rebase origin master
  branches = branch -a
  tags = tag -l
  stashes = stash list
  remotes = remote -v
  showlast = show HEAD
  showstash = stash show -p
  unpushed = log origin..HEAD --pretty=oneline
  unpulled = !git fetch origin --quiet && git log HEAD..origin --pretty=oneline
  rhh = reset --hard HEAD
[color]
  diff = auto
  status = auto
  branch = auto
[core]
  editor = vim
  pager = less --no-init --quit-if-one-screen
[push]
  # 'git push' will push the current branch to its upstream branch
  # see http://goo.gl/GLcPZ for details
  default = upstream
